.profile_wrapper {
  .cover {
    background-image: url("/images/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 240px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    .profile_details_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      background-color: #ffffffdb;
      margin: 0 25px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -40px;
      border-radius: 20px;
      .profile_content {
        display: flex;
        align-items: center;
        .display {
          margin-right: 20px;
          position: relative;

          .upload_img {
            position: absolute;
            bottom: -4px;
            right: -6px;
            background: #fff;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            box-shadow: 3px 6px 20px 0px #0000001f;
            cursor: pointer;
            img {
              cursor: pointer;
            }
          }
        }
        h3 {
          font-weight: 400;
          color: #2d3748;
          font-size: var(--font-size-md);
        }
        p {
          color: #718096;
          font-size: var(--font-size-xs);
        }
      }
      .edit_profile {
        min-width: 130px;
        line-height: 1;
        border-color: #fff;
        box-shadow: 0 0 8px 0px #00000014;
        &:hover {
          border-color: var(--color-primary);
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
}
